{
    "DISCORD_BOT_TOKEN": "YOUR_TOKEN",
    "DISCORD_CHANNEL_ID": "YOUR_CHANNEL_ID",
    "MASTER_SERVER_URL": "YOUR_MASTER_SERVER_URL",
    "SERVER_LISTINGS_ENDPOINT": "/serverListings",
    "REFRESH_INTERVAL_IN_SECONDS": 60,
    "LOG_LEVEL": "INFO",
    "UPDATE_MODE": false
}
